{
    "useTabs": true,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "astroAllowShorthand": true,
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],
    "pluginSearchDirs": [
        "."
    ],
    "plugins": [
        "tailwindcss-animate",
        "prettier-plugin-astro",
        "prettier-plugin-organize-attributes",
        "prettier-plugin-tailwindcss"
    ]
}