---
import Layout from '@/layouts/Layout.astro'
import Codebreaker from '@/components/react/codebreaker'
---

<Layout title="Codebreaker">
	<div class="mx-auto max-w-4xl">
		<div class="my-4 px-1 lg:my-16 lg:px-0">
			<Codebreaker client:idle client:only />
		</div>
	</div>
</Layout>
